.bookingTable{
    text-align:center;
    font-family: 'Lato Bold', sans-serif;
    background-color: white;
    border: 1px;
}
.bookingTable th{
    width: 100px;
    background-color: #f9f9f9;
}

.bookingTable thead th{
    text-align: center;
    background-color: #f9f9f9;
}

.bookingDetails{
    text-align: left;
    background-color: ghostwhite;
}